.header {
    background: linear-gradient(360deg, #464341 0%, #010101 100%);
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header__container {
    padding: 35px 0 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1396px;
    width: 96%;
}

.header__link {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}


@media screen and (max-width: 1400px) {

    .header {
        margin-bottom: 72px;
    }

    .header__container {
        padding: 35px 40px 29px;
    }
}