.posts-container {
  display: flex;
  justify-content: center;
}

.posts {
  max-width: 1588px;
  width: 96%;
  margin-bottom: 160px;
}

.posts__title {
  line-height: 130%;
  text-transform: uppercase;
  margin: 0 0 120px 262px;
}

.posts__list {
  list-style: none;
}

.posts__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.posts__item:nth-child(even) {
  margin-left: 262px;
  margin-bottom: 0;
}

.posts__subtitle {
  line-height: 110%;
  margin-bottom: 25px;
}

.posts__description {
  max-width: 600px;
}

.posts__text {
    font-size: 18px;
    line-height: 130%;
}

.posts__subtitle + .posts__text {
    margin-bottom: 15px;
}